<h1>Hamburger Time</h1>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
        <li>
            Name: {{ burger_name }}
            <button class ="remake" data-burger-id={{id}}>
                Regurgitate Burger
            </button>
        </li>
        {{/unless}}
    {{/each}}
</ul>